Header add Content-Security-Policy "default-src 'self'; img-src 'self' data:; base-uri 'self';style-src 'self' https://fonts.googleapis.com 'sha256-bbRvD22eGXhzPSKhX6OzVFoQzxfBlALvbFsxWRzRhFY=' 'sha256-TG0j76inI9XBF98Kxvd0QaZtlgz06c9M8gqr0ayYTvM=' 'sha256-WXOrwGhmQg5d/7kVRKK6oS+feD64YaRLIi5CTNSrYwk=' 'sha256-LQstYDa3eXmrb0PvuYksXtQ6i6owZhpNsmy5nnVd/qw=' 'sha256-4Cqrb9+UVnxYYbmkWOWFDIDtOh5RSNjO41psqDRsOhw=' 'sha256-uFa61qf/4W07oOoNbG/gUmOF69EeWJou+8v5c4bp6kA=' 'sha256-PlTkgCr7abMkWLmLhbsMIx5IZAK+f/mrWppZJA1W79M=' 'sha256-slyjg7AL1/N0IDV9hPfojVARaaH5aG3D9Ld82aW/O9Y='; font-src 'self' https://fonts.gstatic.com https://ka-f.fontawesome.com; script-src 'self' 'nonce-kitFontawesome' 'nonce-alertScript' 'nonce-historyPrev' 'nonce-loggedMenu'; connect-src 'self' https://ka-f.fontawesome.com;"