.messages h3 {
  margin-top: 2rem;
}

.messages h3:first-child {
  margin-top: 0;
}

.box-msg {
  border: 1px solid #000;
  width: 60%;
  max-width: 100%;
  margin-top: 1rem;
  padding: 2rem;
}

.messages section form span {
  font-weight: bold;
}

.messages section form button {
  margin-bottom: 0;
}

@media screen and (max-width: 800px) {
  .box-msg {
    width: 100%;
  }
}
