.uploaded-wrapper {
  display: none;
  max-width: 60%;
}

.uploaded-wrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.uploaded-wrapper > button {
  margin-top: 1rem;
  width: 50%;
}

.uploaded-wrapper .img-check {
  display: none;
  color: #60b8ff;
  font-size: 1.5em;
  margin-left: 1rem;
}

img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 50%;
}
