/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

nav.mobile-nav {
  display: none;
}

nav.mobile-nav a {
  -webkit-tap-highlight-color: transparent !important;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

nav.mobile-nav a:active {
  -webkit-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}

nav.desktop-nav {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 1fr;
  -ms-grid-columns: 1fr;
  grid-template: 2fr 1fr / 1fr;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

nav.desktop-nav a {
  color: #000;
}

.nav-header {
  width: fit-content;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 800px) {
  .nav-header {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.list-wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 1fr 4fr 1fr;
  grid-template-columns: 1fr 4fr 1fr;
}

nav .nav-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

nav a:hover {
  color: #60b8ff;
}

nav.desktop-nav .nav-options a {
  margin-right: 2rem;
  padding: 1rem 0;
}

nav.desktop-nav .nav-options a:last-child {
  margin-right: 0;
}

.logged {
  position: relative;
}

.logged-menu {
  background-color: #fff;
  position: absolute;
  transform: translateY(-20%);
  -webkit-transform: translateY(-20%);
  -moz-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  -o-transform: translateY(-20%);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, opacity 0.2s ease;
  transition: transform 0.2s ease, opacity 0.2s ease,
    -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, opacity 0.2s ease,
    -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, opacity 0.2s ease,
    -webkit-transform 0.2s ease;
  -webkit-transition: transform 0.2s ease, opacity 0.2s ease;
  -moz-transition: transform 0.2s ease, opacity 0.2s ease;
  -ms-transition: transform 0.2s ease, opacity 0.2s ease;
  -o-transition: transform 0.2s ease, opacity 0.2s ease;
  visibility: hidden;
  padding: 1rem;
  z-index: 3;
}

.logged-menu a:hover {
  color: #60b8ff;
}

.logged-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  list-style: none;
}

.logged-menu li {
  width: max-content;
  margin-bottom: 1rem;
}

.logged-menu li:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 800px) {
  .logged:hover .logged-menu {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    visibility: visible;
  }
}

.fixed-nav {
  background-color: #fff;
  -ms-grid-rows: 1fr !important;
  grid-template-rows: 1fr !important;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  -webkit-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  -ms-transition: transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  z-index: 2;
}

.fixed-nav-transform {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.user a {
  padding: 1rem 0;
  color: #000;
}

.user i {
  margin-right: 0.5rem;
  padding: 0.5rem 0;
}

.user i:last-child {
  margin-right: 0px;
}

.login-caption {
  font-weight: 300;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.user a:hover .login-caption {
  color: #60b8ff;
}

.user .logged {
  display: none;
  width: fit-content;
}

button {
  background-color: #60b8ff;
  padding: 0.8rem;
  width: 100%;
  margin-bottom: 1rem;
  cursor: pointer;
  border: 1px solid #000;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

button:hover {
  background-color: #5caaea;
}

.contact-with-us a {
  color: #000;
}

main .cars {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template: auto / 1fr 1fr 1fr;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  row-gap: 20px;
}

main .cars .car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000;
  width: fit-content;
  overflow: hidden;
}

.cars .image-wrapper {
  width: 100%;
  height: 100%;
  max-height: 20rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cars img {
  max-width: 100%;
  max-height: 100%;
  width: auto !important;
  height: auto !important;
}

main .cars .car > span {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

main .car-price {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

main .car-price span {
  margin-top: 1rem;
}

main .car-price span:first-child {
  margin-top: 0;
}

main .car .car-name {
  font-weight: 400;
}

main .car .divider {
  width: 80%;
  height: 1px;
  background: #000;
}

main .car button {
  width: 80%;
  margin-bottom: 1rem;
}

.cars .no-vehicles {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}

main .cars-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.cars-list .vehicle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 2rem;
}

.cars-list .vehicle-name {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.5em;
  text-transform: capitalize;
}

.cars-list .vehicle-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #000;
}

.cars-list .vehicle-content:last-child {
  margin-bottom: 0;
}

.cars-list .vehicle-content > * {
  margin-right: 2rem;
}

.cars-list .vehicle-content .vehicle-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cars-list .vehicle-content .vehicle-price div {
  margin-right: 2rem;
}

.cars-list .vehicle-content .vehicle-image {
  width: 400px;
}

.cars .vehicle-image img {
  display: block;
}

.cars-list button {
  width: fit-content;
  margin: 0;
}

@media screen and (max-width: 800px) {
  main .cars {
    -ms-grid-rows: auto;
    -ms-grid-columns: auto;
    grid-template: auto / auto;
  }

  .cars-list .vehicle,
  .cars-list .vehicle .vehicle-price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

  }

  .cars-list .vehicle-content > * {
    margin-right: 0.5rem;
  }

  .cars-list .vehicle-content .vehicle-price div {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 0.8em;
  }

  .cars-list .vehicle .vehicle-image {
    width: 100%;
  }

  .cars-list .vehicle-name {
    font-size: 1.2em;
  }

  .cars-list button {
    padding: 0.5rem;
  }
}

footer {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr;
  grid-template: 1fr 1fr / 1fr;
}

footer .subscription-form {
  width: 30%;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

footer .subscription-form h3 {
  font-size: 1.4em;
  font-weight: 400;
}

footer .subscription-form input {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  outline: none;
  border-width: 1px;
  margin-top: 1rem;
}

.subscription-input-invalid {
  background: #ffdede;
  border-color: #ff9d9d;
}

.subscription-input-invalid2 {
  border-color: #ff9d9d;
}

footer .subscription-form button {
  margin-top: 1rem;
}

footer .bottom-content .footer-socials {
  margin-bottom: 2rem;
}

footer .bottom-content .footer-socials i {
  margin-right: 1rem;
  font-size: 1.8rem;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
  cursor: pointer;
}

footer .footer-socials i.fa-facebook:hover {
  color: #1778f2;
}

footer .footer-socials i.fa-youtube:hover {
  color: #ff0000;
}

footer .footer-socials i.fa-linkedin-in:hover {
  color: #2867b2;
}

footer .bottom-content .footer-socials i:last-child {
  margin-right: 0;
}

footer .bottom-content .bottom-text {
  font-weight: 300;
}

@media screen and (max-width: 800px) {
  nav.desktop-nav {
    display: none;
  }
  nav.mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.3rem;
    background: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    text-align: center;
  }
  nav.mobile-nav a {
    color: #000;
  }
  nav.mobile-nav > a {
    width: fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 5rem;
    padding: 0.5rem 0;
  }
  nav.mobile-nav > a span {
    font-size: 0.7rem;
  }
  .mobile-nav-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    bottom: 0;
    left: 0;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-weight: 300;
    font-size: 1.1rem;
    z-index: 3;
  }
  .wrapper-transform {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
  nav.mobile-nav .top-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    font-weight: bold;
    width: 100%;
  }
  nav.mobile-nav .close {
    font-size: 1.8em;
    top: 0;
    right: 0;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  nav.mobile-nav .logged-menu {
    text-align: left;
    position: static;
  }
  nav.mobile-nav .logged-menu li {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  nav.mobile-nav .user {
    margin-top: 0;
  }
  nav.mobile-nav .card > div {
    margin-top: 2rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1rem 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
  }
  nav.mobile-nav .number-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  nav.mobile-nav .card-number {
    background: #000;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 2em;
    height: 2em;
  }
  .user a {
    padding: 0;
  }
  .user i {
    padding: 0;
  }
  .show-logged-menu {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    visibility: visible;
    z-index: 2;
  }
  .mobile-logged-menu-overlay {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
  }
  nav.desktop-nav {
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }
  nav.desktop-nav div.list-wrapper {
    display: none;
  }
  footer .subscription-form {
    width: 60%;
  }
  footer {
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  footer .subscription-form {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  footer .bottom-content {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}

a {
  color: #60b8ff;
  text-decoration: none;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

input {
  border-style: solid;
}

.warning {
  color: #ff9d9d;
}

.error {
  color: #ff6c6c;
}

button {
  -webkit-tap-highlight-color: transparent !important;
}
