.page-wrapper {
    display: grid;
    grid-template: 1fr / auto 1fr;
}

nav.desktop-panel {
    padding: 20px;
    width: fit-content;
    height: 100vh;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    background-color: #33393d;
    color: #fff;
    font-size: 1.2em;
}

nav.desktop-panel a {
    color: #fff;
}

nav.desktop-panel .list-wrapper {
    display: flex;
}

nav.desktop-panel .list-wrapper ul {
    display: flex;
    flex-direction: column;
    align-items: unset;
}

nav.desktop-panel ul li:hover a {
    color: #60B8FF;
}

nav .list-wrapper ul li {
    margin-top: 10px;
}

nav .list-wrapper ul li:first-child {
    margin-top: 0;
}

nav.mobile-panel {
    display: none;
}

.back {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(20px, -20px);
}

.content {
    margin: 20px;
    position: relative;
}

.content h2 {
    font-weight: 400;
}

.content main {
    margin-top: 40px;
}

main button {
    margin-bottom: 30px;
    border: 2px solid #000;
    background-color: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 80%;
    cursor: pointer;
}

main button:last-child {
    margin-bottom: 0;
}

main .icon {
    transform: rotate(90deg);
}

footer {
    grid-template: 1fr / 1fr;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}