.page-wrapper {
    display: grid;
    grid-template: 1fr / auto 1fr;
}

table,
table th,
table td {
    border: 1px solid black;
    border-collapse: collapse;
}

table td,
table th {
    padding: 10px;
}

nav.desktop-panel {
    padding: 20px;
    width: fit-content;
    height: 100vh;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    background-color: #33393d;
    color: #fff;
    font-size: 1.2em;
}

nav.desktop-panel a {
    color: #fff;
    cursor: pointer;
}

nav.desktop-panel .list-wrapper {
    display: flex;
}

nav.desktop-panel .list-wrapper ul {
    display: flex;
    flex-direction: column;
    align-items: unset;
}

nav.desktop-panel ul a:hover {
    color: #60B8FF;
}

nav .list-wrapper ul a {
    margin-top: 10px;
}

nav .list-wrapper ul a:first-child {
    margin-top: 0;
}

nav.mobile-panel {
    display: none;
}

.back {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(20px, -20px);
}

.content {
    margin: 20px;
    display: grid;
    grid-template: auto 1fr / 1fr;
    position: relative;
    overflow: hidden;
}

.content h2 {
    font-weight: 400;
}

.content main {
    margin-top: 40px;
}

.all-settings>div {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
    animation-timing-function: ease;
    animation-duration: .2s;
    animation-name: none;
    animation-fill-mode: both;
}

.all-settings>.visible-settings {
    animation-name: settingsAnim;
}

main button {
    margin-bottom: 30px;
    border: 2px solid #000;
    background-color: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 60%;
    cursor: pointer;
}

main button:last-child {
    margin-bottom: 0;
}

main table {
    margin-bottom: 30px;
}

footer {
    background-color: #fff;
    grid-template: 1fr / 1fr;
    margin-top: 40px;
    align-self: end;
}

@keyframes settingsAnim {
    0% {
        visibility: hidden;
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
}