* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

nav.mobile-nav {
  display: none;
}

nav.desktop-nav {
  width: 100%;
  display: grid;
  grid-template: 2fr 1fr / 1fr;
  justify-items: center;
  align-items: center;
}

nav.desktop-nav a {
  color: #000;
}

.nav-header {
  width: fit-content;
  margin-top: 40px;
  margin-bottom: 40px;
}

.list-wrapper {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 4fr 1fr;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav.desktop-nav ul li {
  margin-left: 1%;
  margin-right: 1%;
  padding: 10px 0;
}

.user a {
  padding: 10px 0;
}

.user i {
  margin-right: 10px;
  padding: 10px 0;
}

.user i:last-child {
  margin-right: 0px;
}

nav .login-caption {
  font-weight: 300;
  transition: color .2s ease;
}

nav .user:hover .login-caption {
  color: #60B8FF;
}

button {
  background-color: #60B8FF;
  padding: 10px;
  width: 100%;
  margin-bottom: 5%;
  cursor: pointer;
  border: 1px solid #000;
  transition: .2s ease;
}

button:hover {
  background-color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

main .img {
  width: 100%;
  height: 400px;
  background-image: url("../img/img1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

main section {
  margin-top: 10%;
  margin-bottom: 10%;
}

main section h1 {
  font-size: 3em;
  margin-bottom: 30px;
}

main section span {
  font-weight: 300;
  font-size: 1.2em;
}

main h2 {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 30px;
}

main .cars {
  display: grid;
  grid-template: auto / 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

main .cars .car {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
  width: fit-content;
  overflow: hidden;
}

main .car .image-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

main .car .img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.4);
  z-index: 1;
  opacity: 0;
  transition: opacity .2s ease;
}

main .car .img-overlay:hover {
  opacity: 1;
}

main .cars .car>span {
  margin-top: 5%;
  margin-bottom: 5%;
}

main .car-price {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
}

main .car-price span {
  margin-top: 10px;
}

main .car-price span:first-child {
  margin-top: 0;
}

main .car .car-name {
  font-weight: 400;
}

main .car .divider {
  width: 80%;
  height: 2px;
  background: #000;
}

main .car button {
  width: 80%;
  margin-bottom: 5%;
}

main .contact-with-us {
  width: 100%;
}

main .contact-wrapper {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  align-items: center;
  column-gap: 20px;
  background-color: aliceblue;
}

main .contact-wrapper .image-wrapper {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  background: url("../img/img2.png");
  background-size: cover;
  background-position: center;
}

main .contact-wrapper .contact-text {
  margin-left: 20px;
}

main .contact-wrapper .contact-text ul {
  list-style-type: none;
}

main .contact-text ul li {
  margin-bottom: 10px;
}

main .contact-text ul li:last-child {
  margin-bottom: 0;
}

footer {
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  grid-template: 1fr 1fr / 1fr;
}

footer .subscription-form {
  width: 30%;
  margin-top: 40px;
  margin-bottom: 30px;
}

footer .subscription-form h3 {
  font-size: 1.4em;
  font-weight: 400;
}

footer .subscription-form input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  outline: none;
  margin-top: 10px;
}

.subscription-input-invalid {
  background: #ffdede;
  border-color: #ff9d9d;
}

.subscription-input-invalid2 {
  border-color: #ff9d9d;
}

footer .subscription-form button {
  margin-top: 5px;
}

footer .bottom-content .footer-socials {
  margin-bottom: 20px;
}

footer .bottom-content .footer-socials i {
  margin-right: 10px;
  font-size: 1.4em;
  transition: color .2s ease;
  cursor: pointer;
}

footer .footer-socials i.fa-facebook:hover {
  color: #1778F2;
}

footer .footer-socials i.fa-youtube:hover {
  color: #FF0000;
}

footer .footer-socials i.fa-linkedin-in:hover {
  color: #2867B2;
}

footer .bottom-content .footer-socials i:last-child {
  margin-right: 0;
}

footer .bottom-content .bottom-text {
  font-weight: 300;
}

@media screen and (max-width: 800px) {
  nav.mobile-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(255,255,255,.95);
    width: 100%;
    height: 50px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    z-index: 2;
  }
  nav.mobile-nav a {
    color: #000;
  }
  nav.mobile-nav .open {
    width: fit-content;
    height: fit-content;
    align-self: end;
    margin-right: 20px;
    font-size: 1.8em;
  }
  nav.mobile-nav .nav-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    transform: translateX(100%);
    transition: transform .2s ease;
    top: 0;
    left: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    font-size: 1.3em;
    z-index: 3;
  }
  nav.mobile-nav .top-content {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template: 1fr / 1fr 1fr 1fr;
    width: 100%;
    margin-bottom: 20px;
  }
  nav.mobile-nav .close {
    margin-top: 10px;
    margin-right: 20px;
    justify-self: end;
    font-size: 1.8em;
    top: 0;
    right: 0;
    order: 1;
  }
  @media screen and (max-width: 400px) {
    nav.mobile-nav .login-caption {
      display: none;
    }
    nav.mobile-nav i.fa-user-circle {
      margin: 0;
      font-size: 1.5em;
    }
  }
  nav.mobile-nav .user {
    margin-top: 15px;
  }
  nav.mobile-nav .list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav.mobile-nav .list-wrapper ul {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  nav.mobile-nav .list-wrapper li {
    margin-top: 10px;
  }
  nav.mobile-nav .list-wrapper li:first-child {
    margin-top: 0;
  }
  nav.desktop-nav {
    grid-template-rows: 1fr;
  }
  nav.desktop-nav div.list-wrapper {
    display: none;
  }
  main .main-header h1 {
    font-size: 2.5em;
  }
  main h2 {
    font-size: 1.5em;
  }
  main .img {
    display: none;
  }
  main .cars {
    grid-template: 1fr 1fr 1fr / auto;
  }
  main .contact-wrapper {
    grid-template: 1fr / 1fr;
    padding: 20px;
  }
  @media screen and (max-width: 400px) {
    main .contact-wrapper {
      padding-left: 0;
      padding-right: 0;
    }
  }
  main .contact-with-us .image-wrapper {
    display: none;
  }
  main .contact-wrapper .contact-text {
    margin-left: 0;
  }
  footer .subscription-form {
    width: 60%;
  }
}

a {
  color: #60B8FF;
  text-decoration: none;
  transition: color .2s ease;
}

input {
  border-style: solid;
}